# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
venv/
.venv/
env/
ENV/
*.env

# IDE / Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
Desktop.ini

# Log files
*.log
logs/

# Build artifacts / Distribution
build/
dist/
*.egg-info/

# Model files you typically don't want in version control
model/*.bin
model/*.kv       # Ignores the main .kv file (e.g., glove.6B.100d.kv)
model/*.kv.*     # Ignores auxiliary files like .kv.vectors.npy
model/*.model 
# model/*.pkl    # Uncomment if you want to ignore .pkl model files too